<?xml version="1.0" encoding="UTF-8"?>
<beans  xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:context="http://www.springframework.org/schema/context"
        xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

    <!--         по умолчанию scope singelton-->
<!--    ручное создание бина-->
<!--    <bean id="musicBean"-->
<!--          class="ru.akopian.spring.RockMusic"-->
<!--            factory-method="getRockMusic"-->
<!--            init-method="doMyInit"-->
<!--            destroy-method="doMyDestroy">-->
<!--    </bean>-->

<!--    Создание бина с помощью Component и внедрение с Autowire-->
<!--    Мы указываем что нужно просканировать весь пакет-->
    <context:component-scan base-package="ru.akopian.spring"/>
    <context:property-placeholder location="classpath:musicPlayer.properties"/>
</beans>